@model StopProcess

<div class="grid">
   <div class="col-3_xs-12">@Html.LockedText(m => m.CompletedDate)</div>
   <div class="col-3_xs-12">@Html.LockedText(m => m.ProcessCancelName)</div>
   <div class="col-3_xs-12">@Html.LockedText(m => m.DoctorName)</div>
</div>