@model WebApp.Models.ChangePassword
<div class="mb">
   @Html.EditorFor(m => m.OldPassword)
</div>
<div class="mb">
   @Html.EditorFor(m => m.NewPassword)
</div>
<div>
   @Html.EditorFor(m => m.Verify)
</div>
