<?xml version="1.0" encoding="utf-8" ?>
<data >
   <Tab>
      <Name>Dịch vụ PHCN</Name>
      <Group>
         <Name>Điều trị</Name>
         <Image>documents2</Image>
         <Item>
            <Image>documents2</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Hồ sơ PHCN</Function>
         </Item>
         <Item>
            <Image>datauser</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Thông tin NKT</Function>
         </Item>
         <Item>
            <Image>doctor</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Cán bộ PHCN</Function>
         </Item>
         <Item>
            <Image>contact</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Duyệt hồ sơ chuyển vùng</Function>
         </Item>
      </Group>
      <Group>
         <Name>Danh mục</Name>
         <Image>diagnostic</Image>
         <Item>
            <Image>hospital</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Đơn vị cung cấp dịch vụ</Function>
         </Item>
         <Item>
            <Image>location</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Vùng dự án</Function>
         </Item>
         <Item>
            <Image>blockdevice</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Loại hình đơn vị</Function>
         </Item>
         <Item>
            <Image>diagnostic</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Chẩn đoán</Function>
         </Item>
         <Item>
            <Image>checklist</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Gói can thiệp</Function>
         </Item>
         <Item>
            <Image>blockdevice</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Kỹ thuật PHCN</Function>
         </Item>
      </Group>
   </Tab>
   <Tab>
      <Name>Đào tạo</Name>
      <Group>
         <Name>Đào tạo PHCN</Name>
         <Item>
            <Image>customer</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Danh sách học viên</Function>
         </Item>
         <Item>
            <Icon>actions_newitem_32x32devav</Icon>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Kết quả đào tạo</Function>
         </Item>
         <Item>
            <Icon>programming_projectfile_32x32</Icon>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Khóa đào tạo</Function>
         </Item>
         <Item>
            <Icon>actions_costanalysis_32x32devav</Icon>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Đơn vị đào tạo</Function>
         </Item>
         <Item>
            <Icon>actions_group_32x32</Icon>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Dự án</Function>
         </Item>
      </Group>
   </Tab>
   <Tab>
      <Name>Báo cáo</Name>
      <Group>
         <Name>Báo cáo</Name>
         <Item>
            <Image>documents2</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Báo cáo dịch vụ</Function>
            <Name>Dịch vụ PHCN</Name>
         </Item>
         <Item>
            <Image>documents3</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Báo cáo đào tạo</Function>
            <Name>Đào tạo</Name>
         </Item>
      </Group>
   </Tab>
   <Tab>
      <Name>Hệ thống</Name>
      <Group>
         <Name>Quản lý</Name>
         <Image>company</Image>
         <Item>
            <Image>company</Image>
            <Module>WebApp.dll</Module>
            <Function>Công ty</Function>
         </Item>
         <Item>
            <Image>users</Image>
            <Module>WebApp.dll</Module>
            <Function>Quản lý tài khoản</Function>
            <Name>Người sử dụng</Name>
         </Item>
         <Item>
            <Image>roles</Image>
            <Module>WebApp.dll</Module>
            <Function>Quản lý phân quyền</Function>
            <Name>Phân quyền sử dụng</Name>
         </Item>
         <Item>
            <Image>groups</Image>
            <Module>WebApp.dll</Module>
            <Function>Người dùng trực tuyến</Function>
         </Item>
      </Group>
      <Group>
         <Name>Dữ liệu</Name>
         <Image>database</Image>
         <Item>
            <Image>documents</Image>
            <Module>WebApp.dll</Module>
            <Function>Mẫu báo cáo</Function>
         </Item>
         <Item>
            <Image>web</Image>
            <Module>WebApp.dll</Module>
            <Function>Từ điển ngôn ngữ</Function>
         </Item>
         <Item>
            <Image>database</Image>
            <Module>WebApp.dll</Module>
            <Function>Cập nhật dữ liệu</Function>
         </Item>
      </Group>
   </Tab>
   <Tab>
      <Name>Cấu hình</Name>
      <Group>
         <Name>Quản lý</Name>
         <Image>users</Image>
         <Item>
            <Image>building</Image>
            <Module>WebApp.dll</Module>
            <Function>Thông tin doanh nghiệp</Function>
         </Item>
         <Item>
            <Image>users</Image>
            <Module>WebApp.dll</Module>
            <Function>Người sử dụng</Function>
         </Item>
         <Item>
            <Image>roles</Image>
            <Module>WebApp.dll</Module>
            <Function>Phân quyền sử dụng</Function>
         </Item>
         <Item>
            <Image>groups</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Phân quyền dữ liệu</Function>
         </Item>
         <Item>
            <Image>keys</Image>
            <Module>WebModule.MCNV.dll</Module>
            <Function>Khóa dữ liệu</Function>
         </Item>
         <Item>
            <Image>data_transfer</Image>
            <Module>WebApp.dll</Module>
            <Function>Nhật ký dữ liệu</Function>
         </Item>
      </Group>
   </Tab>
</data>
